@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  font-family: 'VT323', monospace;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inherit;
  background: #05030b;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
